.mdl-layout__header-row {
padding: 0 15px; }
                          
.mdl-navigation__link {
color: black; }

.mdl-menu__item.href {
color: black; }

@media (max-width: 299px) {
  .mdl-grid {
  padding: 4px; }
  
  .mdl-card {
  min-height:150px; }
  
  .mdl-cell {
  margin: 4px;
  width: calc(100% - 8px); }   
  .mdl-cell--6-col,
  .mdl-cell--6-col-phone.mdl-cell--6-col-phone {
  width: calc(100% - 8px); }
  
  .mdl-cell--12-col,
  .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: calc(100% - 8px); }
  }
                          
@media (min-width: 300px) and (max-width: 479px) {
  .mdl-grid {
  padding: 4px; }
  
  .mdl-card {
  min-height:150px; }
  
  .mdl-cell {
  margin: 4px;
  width: calc(50% - 8px); }
  
  .mdl-cell--6-col,
  .mdl-cell--6-col-phone.mdl-cell--6-col-phone {
  width: calc(100% - 8px); }
  
  .mdl-cell--12-col,
  .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: calc(100% - 8px); }
}

.mdl-layout__content {
  margin: 40px;
  margin-left:0px;
}

.mdl-textfield__icon {
    width: 32px;
    text-align: center;
    position: absolute;
    line-height: 1; }
    
.mdl-textfield__icon ~ * {
    margin-left: 48px;
    width: calc(100% - 48px); }
    
.mdl-checkbox {
    margin-left:230px;
}

.demo-card-image.mdl-card {
background: #ffffff center / cover;
}

.mdl-card__media {
background: #ffffff;
}

.mdl-card__media > img {
max-width: 100%;

}
.demo-card-image > .mdl-card__actions {
height: 52px;
padding: 16px;
background: rgb(63,81,181);
}

.demo-card-image__filename {
color: #FFF;
font-size: 18px;
font-weight: 500;
}

.mdl-card__actions {
display: flex;
box-sizing:border-box;
align-items: center;
margin-right: 300px;
}
